 .contents-showing{ 
    display: none;
}
ul{
    float: left;
}
#image1{
    float: right;
}

.clickable{
    color: blue;
    cursor: pointer;
}
.clickable:hover{
    text-decoration: underline;
}
.img-fluid{
    height: 500px;
    width: 400px;
}